
.red{
    color : blue;
}

.my-alert {
    background : #ffffc8;
    padding : 15px;
    border-radius : 5px;
    max-width : 500px;
    width : 100%;
    margin : auto;
  }

  .my-alert p {
    margin-bottom : 0;
  }

  .my-alert-end {
    background : red;
    padding : 15px;
    border-radius : 5px;
    max-width : 500px;
    width : 100%;
    margin : auto;
  }
  .my-alert-end p {
    margin-bottom : 0;
  }

  .my-alert-error {
    background : green;
    padding : 15px;
    border-radius : 5px;
    max-width : 500px;
    width : 100%;
    margin : auto;
  }
  .my-alert-error p {
    margin-bottom : 0;
  }

  .product img{
    max-width: 50%;
  }